{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="w-fit items-center rounded-md px-4 py-2 font-medium text-black ring-1 ring-inset ring-gray-300 mb-5">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
