{% extends 'base.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
    <div class="flex items-end w-full justify-between px-5 lg:px-40 my-5">
        <h1 class="text-2xl">Create new Category</h1>
        <a href="{{ path('app_category_admin') }}" class="w-fit items-center rounded-md px-4 py-2 font-medium text-black ring-1 ring-inset ring-gray-300">back to list</a>
    </div>
    <div class="px-5 lg:px-40">
        {{ include('category/_form.html.twig') }}
    </div>
{% endblock %}
