{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
    <h1>{{ category.name }}</h1>

    <div class="grid gap-4">
        <div class="p-4 border rounded">
            <h2 class="font-bold">{{ question.content }}</h2>
            <ul>
                {% for answer in question.answers %}
                    <li>{{ answer.content }}</li>
                {% endfor %}
            </ul>

        </div>
    </div>
{% endblock %}