{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
    <h1>{{ category.name }}</h1>

    <div class="grid gap-4">
        <div class="p-4 border rounded">
            {# Ajoutez d'autres champs de votre catégorie ici #}
        </div>
    </div>
{% endblock %}