{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}


<div class="pt-5 px-5 lg:px-40">
    <div class="px-4 sm:px-0">
        <h3 class="text-xl font-semibold text-gray-900">Admin dashboard</h3>
        <p class="mt-1 max-w-2xl text-sm/6 text-gray-500">Manage content</p>
    </div>
    <div class="mt-6 border-t border-gray-100">
        <dl class="divide-y divide-gray-100">
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm/6 font-medium text-gray-900">
                    Categories
                    <span class="ml-2 inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10">
                        1
                    </span>
                </dt>
                <a href="{{ path("app_category_admin") }}" class="w-fit items-center rounded-md px-4 py-2 font-medium text-black ring-1 ring-inset ring-gray-300">Edit categories</a>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm/6 font-medium text-gray-900">
                    Questions
                    <span class="ml-2 inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10">
                        2
                    </span>
                </dt>
                <a href="{{ path("app_question_index") }}" class="w-fit items-center rounded-md px-4 py-2 font-medium text-black ring-1 ring-inset ring-gray-300">Edit questions</a>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm/6 font-medium text-gray-900">
                    Answers
                    <span class="ml-2 inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10">
                        2
                    </span>
                </dt>
                <a href="{{ path("app_answer_index") }}" class="w-fit items-center rounded-md px-4 py-2 font-medium text-black ring-1 ring-inset ring-gray-300">Edit answers</a>
            </div>
        </dl>
    </div>
</div>
{% endblock %}
